.banniere {
  // background: url(../../assets/img/main.jpg) center/cover;
  display: flex;
  align-items: center;
  border-bottom: 10px solid $color_1;

  img {
    margin: 30px;
    width: 125px;
    height: 100px;
  }

  h1 {
    @include verticalCenter;
    color: $color_1;
    font-size: 80px;
    margin: 5px auto;
    padding: 5px 0;
  }

  ul {
    button {
      margin: 10px;
    }
  }
}