.message {
    section {
        .contains {
            p {

                font-size: 25px;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            h2 {
                padding-top: 2vh;
                padding-left: 17vh;
                color: $color_4;
            }
        }

        ul {
            padding: 12px;
            border-bottom: 1px solid $color_1;
            display: flex;
            padding-left: 19vh;
            padding-right: 5vh;
            justify-content: space-between;

            li {
                @include verticalCenter;

                img {
                    height: 35px;
                    width: 35px;
                    object-fit: contain;
                    border-radius: 15px;
                    vertical-align: middle;
                }


                span {
                    padding-right: 10px;
                    text-align: right;
                }

            }

            #fav:hover {
                background-color: $fav_color;
                border-radius: 20px;
                opacity: 0.8;
            }

            #retweet:hover {
                background-color: $retweet_color;
                border-radius: 20px;
                opacity: 0.8;
            }

            #msg:hover {
                background-color: $message_color;
            }

            .date {
                margin-right: 15vh;
            }
        }

        .favcolor {
            background-color: $fav_color;
            border-radius: 20px;
        }

        .rtcolor {
            background-color: $retweet_color;
            border-radius: 20px;
        }
    }
}