.reglageBody {
    flex-direction: column;
    @include verticalCenter;

    h1 {

        font-size: 50px;
        color: $color_1;
        padding-top: 2%;
        padding-bottom: 30px;
    }

    form {
        width: 100%;
        max-width: 400px;
        margin-bottom: 30px;

    }

    form>div {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    label {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    input[type='password'],
    input[type='text'] {
        padding: 10px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    textarea {
        height: 125px;
        width: 120%;
    }

    button {
        margin-bottom: 10px;
    }

    .theme {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            display: none;
        }

        label {
            display: inline-block;
            position: relative;
            margin-left: 25px;
            height: 30px;
            width: 50px;
            transition: all .3s;
            border-radius: 60px;
            cursor: pointer;
            background-color: $white;
            /* Couleur de fond par défaut */
            border: none;
            /* Supprimer la bordure */
            outline: none;
            /* Supprimer l'effet de focus */
        }

        label:after {
            content: "";
            height: 20px;
            width: 20px;
            background-color: $black;
            /* Couleur du cercle */
            position: absolute;
            top: 5px;
            transition: all .3s;
            border-radius: 50%;
            left: 5px;
            /* Position du cercle à gauche par défaut */
        }

        input:checked+label:after {
            transform: translateX(20px);
        }

        input:checked+label {
            background-color: $color_1;
        }
    }
}