.sendmessage {
    @include verticalCenter;
    flex-direction: column;

    h1 {
        margin-top: 50px;
        color: $color_4;
    }

    textarea {
        font-size: 25px;
        margin: 50px;
        height: 40vh;
        width: 80%;
        padding: 20px;
    }


}