.banniere {
  h1 {
    @include verticalCenter;
    color: $color_1;
    font-size: 80px;
    margin: 10px auto;
  }

  border-bottom: 7px solid $color_1;
}

.banniereFormulaire {

  height: 9em;
  flex-direction: column;

  h1 {
    display: flex;
    align-items: center;

  }

  button#connex {
    position: absolute;
    top: 2%;
    right: 5%;
  }

  button#insc {
    position: absolute;
    top: 8%;
    right: 5%;
  }
}