.message {
    section {
        .contains {
            .top_container {
                .setMessage {
                    img {
                        margin: 10px;
                        height: 30px;
                        width: 30px;
                    }

                    padding-right: 10px;
                }

                padding-top: 2vh;
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    color: $color_4;
                }

                img {
                    height: 40px;
                    width: 40px;
                }

                img#profil {
                    margin-left: 2vh;
                }

                img#delete {
                    margin-right: 20px
                }
            }

            p {
                font-size: 25px;
                padding-left: 5vh;
                padding-right: 30px;
                padding-top: 15px;
                padding-bottom: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        ul {
            border-top: 1px solid;
            padding: 12px;
            border-bottom: 8px solid $color_1;
            display: flex;
            padding-left: 19vh;
            padding-right: 5vh;
            justify-content: space-between;

            li {
                @include verticalCenter;

                img {
                    height: 35px;
                    width: 35px;
                    object-fit: contain;
                    border-radius: 15px;
                    vertical-align: middle;
                }

                span {
                    padding-right: 10px;
                }
            }

            #nbLike:hover {
                background-color: $fav_color;
                border-radius: 20px;
                opacity: 0.8;
            }

            #nbRetweet:hover {
                background-color: $retweet_color;
                border-radius: 20px;
                opacity: 0.8;
            }

            #message:hover {
                background-color: $message_color;
                opacity: 0.8;
            }

            .date {
                margin-right: 15vh;
            }
        }

        .likecolor {
            background-color: $fav_color;
            border-radius: 20px;
        }

        .retweetcolor {
            background-color: $retweet_color;
            border-radius: 20px;
        }
    }
}

.contains * {
    cursor: pointer;
}