.profilBody {
    font-size: 15px;

    h1#pageName {
        @include verticalCenter;
        border-bottom: solid 6px $color_1;
        padding: 0.5em;
        color: $color_4;
    }

    h1 {
        color: $color_3;
        padding-bottom: 5px;

    }

    #bio {
        font-size: 18px;
        color: $color-3;
        opacity: 0.8;
    }

    h3 {
        color: $color_3;
        opacity: 0.5;
        padding-bottom: 1em;
    }

    form {
        flex-direction: column;
        padding: 25px;
        border-bottom: 1px solid $color_1;
        display: flex;

        p {
            cursor: pointer;
        }

        h2 {
            margin-bottom: 20px;
        }

        h1 h2,
        p {

            margin-bottom: 2vh;
        }

        h2 {
            cursor: default;
            padding-block: 10px;
        }

        li {
            margin-bottom: 10px;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 10px;
        }

        button {
            position: absolute;
            right: 12em;
            margin-right: 30px;
            cursor: pointer;
            width: 100px;

        }
    }

}