.reglageBody {
    flex-direction: column;
    @include verticalCenter;
    padding-top: 2vh;

    h1 {
        color: $color_1;
        padding-top: 1vh;
        padding-bottom: 5vh;
        font-size: 35px;
    }

    form {
        transform: scale(1.15);
        width: 100%;
        max-width: 50vh;
        margin-bottom: 4vh;
        font-size: 15px;
    }

    form>div {
        display: flex;
        flex-direction: column;
        margin-bottom: 1vh;
    }

    label {
        margin-top: 20px;
        margin-bottom: 1vh;
    }

    input {
        padding-left: 10px;
        margin-right: 20px;
        height: 30px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    }

    textarea {
        height: 20vh;
    }
}