.sidebar {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: 5px solid $color_1;
  width: 7.5em;

  #first {
    padding-bottom: 10vh;
  }

  /* ou la largeur souhaitée */
  ul {
    display: flex;
    margin: 1.5em;
    flex-direction: column;

    a {
      padding: 0.5em;
      margin-bottom: 2em;

      img {
        height: 3em;
        width: 3em;
        object-fit: contain;
      }

      &.grow {
        transition: all .2s ease-in-out;

        &:hover {
          transform: scale(1.25);
        }
      }
    }
  }

  .nav-active {
    position: relative;

    &::after {
      content: "";
      height: 0.3em;
      width: 0;
      background: $color_1;
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-animation: anim 0.3s ease forwards;
      animation: anim 0.6s ease forwards;

      @-webkit-keyframes anim {
        to {
          width: 80%;
        }
      }
    }

    @keyframes anim {
      to {
        width: 80%;
      }
    }
  }
}