.message {
    @include verticalCenter;

    section {
        .contains {
            p {
                font-size: 25px;
                padding: 15px;
            }

            h3 {
                padding: 10px;
            }
        }

        ul {
            padding: 12px;
            border-bottom: 1px solid $color-1;
            display: flex;

            justify-content: space-between;


            /* ajustez la hauteur selon vos besoins */
            img {
                height: 35px;
                width: 35px;
                border-radius: 20px;

            }

            li#fav:hover {
                background-color: $fav_color;
            }

            li#fav {
                border-radius: 20px;
                margin-left: 15%;
            }

            li#fav img {
                vertical-align: middle;
            }

            .date {
                margin-right: 15vh;
            }

            li#fav span {
                margin-left: 5px;
                vertical-align: middle;
            }

            li {

                span {
                    padding-right: 10px;
                    text-align: right;
                }
            }
        }
    }
}