@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/SignikaNegative-VariableFont_wght.ttf);
}

$font-1: "font-1", sans-serif;
$back-color : rgb(168, 198, 213);
$color-1: #265b6a;
$color-2: salmon;
$color-3: #282c34;
$white: rgb(243, 243, 243);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  // background-image: url(../assets/img/main.avif);
  // background-size: cover;
  background-color: $back-color;
  font-family: $font-1;
}

li {
  list-style-type: none;
}