@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/SignikaNegative-VariableFont_wght.ttf);
}

$font-1: "font-1", sans-serif;

$back-color : rgb(4, 38, 54);
$color_1: rgb(91, 157, 174);
$color_2: rgb(106, 91, 91);
$color_3: #9da9c1;
$color_4: rgb(103, 103, 210);
$warning : rgb(209, 49, 49);
$fav_color: rgb(106, 36, 29);
$retweet_color: rgb(22, 75, 16);
$message_color: rgb(134, 125, 209);
$white: rgb(243, 243, 243);
$black: #282c34;



div.light-mode {

  $back-color : rgb(168, 198, 213);
  $color_1: rgb(38, 91, 106);
  $color_2: rgb(106, 91, 91);
  $color_3: #282c34;
  $color_4: rgb(37, 37, 85);
  $warning : rgb(209, 49, 49);
  $fav_color: rgb(209, 134, 125);
  $retweet_color: rgb(134, 209, 125);
  $message_color: rgb(134, 125, 209);
  $white: rgb(243, 243, 243);

}

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $color_1;
}

body {
  background-color: $back-color;
  font-family: $font-1;
}

li {
  list-style-type: none;
}

button {
  padding: 15px 24px;
  font-size: 16px;
  color: $white;
  background-color: $color-1;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(1px);
  }
}

textarea {
  resize: none;
  font-size: 20px;
  border: solid 1px $color_1;
  padding: 10px;
  opacity: 0.8;
}

input {
  background-color: #9da9c1;
}

img {
  cursor: pointer;
}